# Formula 1 Data Cleaning

## Cleaning
### 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

### 02. Data

In [4]:
#starting with IDs for Drivers, Constructors, and Circuits
dv = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\drivers.csv')
cn = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\constructors.csv')
crc = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\circuits.csv')

In [5]:
dv.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [11]:
dv.value_counts

<bound method DataFrame.value_counts of      driverId        driverRef number code  forename     surname         dob  \
0           1         hamilton     44  HAM     Lewis    Hamilton  1985-01-07
1           2         heidfeld     \N  HEI      Nick    Heidfeld  1977-05-10
2           3          rosberg      6  ROS      Nico     Rosberg  1985-06-27
3           4           alonso     14  ALO  Fernando      Alonso  1981-07-29
4           5       kovalainen     \N  KOV    Heikki  Kovalainen  1981-10-19
..        ...              ...    ...  ...       ...         ...         ...
852       854  mick_schumacher     47  MSC      Mick  Schumacher  1999-03-22
853       855             zhou     24  ZHO    Guanyu        Zhou  1999-05-30
854       856         de_vries     21  DEV      Nyck    de Vries  1995-02-06
855       857          piastri     81  PIA     Oscar     Piastri  2001-04-06
856       858         sargeant      2  SAR     Logan    Sargeant  2000-12-31

    nationality                                             url
0       British     http://en.wikipedia.org/wiki/Lewis_Hamilton
1        German      http://en.wikipedia.org/wiki/Nick_Heidfeld
2        German       http://en.wikipedia.org/wiki/Nico_Rosberg
3       Spanish    http://en.wikipedia.org/wiki/Fernando_Alonso
4       Finnish  http://en.wikipedia.org/wiki/Heikki_Kovalainen
..          ...                                             ...
852      German    http://en.wikipedia.org/wiki/Mick_Schumacher
853     Chinese        http://en.wikipedia.org/wiki/Guanyu_Zhou
854       Dutch      http://en.wikipedia.org/wiki/Nyck_de_Vries
855  Australian      http://en.wikipedia.org/wiki/Oscar_Piastri
856    American     http://en.wikipedia.org/wiki/Logan_Sargeant

[857 rows x 9 columns]>

In [12]:
#dropping url columns
dv = dv.drop('url', axis = 1)
cn = cn.drop('url', axis = 1)
crc = crc.drop('url', axis = 1)
dv.head(1)

   driverId driverRef number code forename   surname         dob nationality
0         1  hamilton     44  HAM    Lewis  Hamilton  1985-01-07     British

In [14]:
#removing duplicates
dv = dv.drop_duplicates()
cn = cn.drop_duplicates()
crc = crc.drop_duplicates()

In [15]:
#export cleaned ID sets
dv.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\driverID.pkl')
cn.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\constructorID.pkl')
crc.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\circuitID.pkl')

In [16]:
#importing seasons and races
sns = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\seasons.csv')
rcs = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\races.csv')

In [25]:
#dropping url columns
sns = sns.drop('url', axis = 1)
rcs = rcs.drop('url', axis = 1)

   year
0  2009
1  2008
2  2007
3  2006
4  2005

In [28]:
#exporting seasons
sns.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\seasons.pkl')

In [35]:
rcs.head()

,raceId,year,round,circuitId,name,date,time,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [38]:
rcs.dtypes

raceId          int64
year            int64
round           int64
circuitId       int64
name           object
date           object
time           object
fp1_date       object
fp1_time       object
fp2_date       object
fp2_time       object
fp3_date       object
fp3_time       object
quali_date     object
quali_time     object
sprint_date    object
sprint_time    object
dtype: object

In [41]:
#dropping free practice time and date columns
rcs = rcs.drop(['fp1_time','fp1_date','fp2_date','fp2_time','fp3_time','fp3_date'], axis = 1)
#these columns do not contribute to driver or vehicle statistics 
rcs.head()

,raceId,year,round,circuitId,name,date,time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,\N,\N,\N,\N

In [43]:
#exporting race
rcs.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\races.pkl')

In [44]:
#importing qualifying, sprint results, and status
qul = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\qualifying.csv')
spr_res = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\sprint_results.csv')
#note: a sprint is a short race (100km) and awards points towards the drivers championship
status = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\status.csv')

In [48]:
status.value_counts

<bound method DataFrame.value_counts of      statusId          status
0           1        Finished
1           2    Disqualified
2           3        Accident
3           4       Collision
4           5          Engine
..        ...             ...
134       137          Damage
135       138          Debris
136       139         Illness
137       140       Undertray
138       141  Cooling system

[139 rows x 2 columns]>

In [50]:
#dropping duplicates
status = status.drop_duplicates()

In [53]:
qul.shape

(9715, 9)

In [54]:
spr_res.shape

(140, 16)

In [55]:
#dropping duplicates
qul = qul.drop_duplicates()
spr_res = spr_res.drop_duplicates()

In [56]:
qul.shape

(9715, 9)

In [57]:
spr_res.shape

(140, 16)

In [58]:
#exporting qualifying, sprint results, and status
qul.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\qualifying.pkl')
spr_res.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\sprint_results')
status.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\status.pkl')

In [59]:
#importing results, pit stops, and lap times
res = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\results.csv')
pit = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\pit_stops.csv')
lapt = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\lap_times.csv')

In [60]:
res = res.drop_duplicates()
pit = pit.drop_duplicates()
lapt = lapt.drop_duplicates()

In [61]:
res.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [62]:
res.shape

(25980, 18)

In [63]:
pit.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [64]:
lapt.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [65]:
#exporting results, pit stops, and lap times
res.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\race_results.pkl')
pit.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\pit_stops.pkl')
lapt.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\lap_times.pkl')

In [66]:
#importing driver standings, constructor standings, and constructor results
dstand = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\driver_standings.csv')
cstand = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\constructor_standings.csv')
cres = pd.read_csv(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Org Data\constructor_results.csv')

In [67]:
#removing duplicates
dstand = dstand.drop_duplicates()
cstand = cstand.drop_duplicates()
cres = cres.drop_duplicates()

In [68]:
#exporting driver standings, constructor standings, and constructor results.
dstand.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\driver_standings.pkl')
cstand.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\constructor_standings.pkl')
cres.to_pickle(r'C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\constructor_results.pkl')