# Driver Specific Analysis
## 01. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

## 02. Data

In [2]:
res = pd.read_csv(r"C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\res_sub.csv")

In [3]:
res.head(1)

,resultId,raceId,driverId,constructorId,grid,position,positionOrder,laps,milliseconds,fastestLap,...,circuit,location,driverStandingsId,driverPoints,standing,driverWins,constructorStandingsId,constructorPoints,constructorStanding,constructorWins
0,1,18,1,1,1,1.0,1,58,5690616.0,39.0,...,Albert Park Grand Prix Circuit,Melbourne,1,10.0,1,1,1,14.0,1,1

In [4]:
res.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'grid', 'position',
       'positionOrder', 'laps', 'milliseconds', 'fastestLap', 'rank',
       'fastestLapTime', 'fastestLapSpeed', 'statusId', 'season', 'round',
       'circuitId', 'grandPrix', 'circuit', 'location', 'driverStandingsId',
       'driverPoints', 'standing', 'driverWins', 'constructorStandingsId',
       'constructorPoints', 'constructorStanding', 'constructorWins'],
      dtype='object')

In [5]:
dr = pd.read_pickle(r"C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\driverID.pkl")
cn = pd.read_pickle(r"C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\constructorID.pkl")

In [6]:
dr.head(1)

   driverId driverRef number code forename   surname         dob nationality
0         1  hamilton     44  HAM    Lewis  Hamilton  1985-01-07     British

In [7]:
dr = dr.drop(['number','dob','nationality','forename','surname'], axis = 1)
dr.head(1)

   driverId driverRef code
0         1  hamilton  HAM

In [8]:
cn.head(1)

   constructorId constructorRef     name  con_nat
0              1        mclaren  McLaren  British

In [9]:
cn = cn.drop('con_nat', axis = 1)

In [11]:
merge = cn.merge(res, on = 'constructorId')
merge.head(1)

,constructorId,constructorRef,name,resultId,raceId,driverId,grid,position,positionOrder,laps,...,circuit,location,driverStandingsId,driverPoints,standing,driverWins,constructorStandingsId,constructorPoints,constructorStanding,constructorWins
0,1,mclaren,McLaren,1,18,1,1,1.0,1,58,...,Albert Park Grand Prix Circuit,Melbourne,1,10.0,1,1,1,14.0,1,1

In [12]:
merge = dr.merge(merge, on = 'driverId')
merge.head(1)

,driverId,driverRef,code,constructorId,constructorRef,name,resultId,raceId,grid,position,...,circuit,location,driverStandingsId,driverPoints,standing,driverWins,constructorStandingsId,constructorPoints,constructorStanding,constructorWins
0,1,hamilton,HAM,1,mclaren,McLaren,1,18,1,1.0,...,Albert Park Grand Prix Circuit,Melbourne,1,10.0,1,1,1,14.0,1,1

In [13]:
merge.to_csv(r"C:\Users\jmanc\OneDrive\Desktop\F1 Project\Data\Prepped Data\F1Merge.csv")